{% extends "network/layout.html" %}

{% block title %}Yapper{% endblock %}


{% block body %}
<div class="category col-md-3">
    <button class="category-btn btn btn-primary" id="all-posts">All Posts</button>
    {% if user.is_authenticated %}
    <button class="category-btn btn btn-primary" id="feeds">Feeds</button>
    <button class="category-btn btn btn-primary" id="followings">Followings</button>
    <button class="category-btn btn btn-primary" id="followers">Followers</button>
    <button class="category-btn btn btn-primary" id="liked-posts">Liked Posts</button>
    {% endif %}
</div>
<div class="post-container col-md-9 col-sm-12">
    <div id="post-view"></div>
    <div id="profile-view"></div>
    <div id="follow-view"></div>
</div>
{% endblock %}