{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'network/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'network/styles.css' %}">
</head>

<body>
    <div class="page-container">
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #333;">
            <a class="navbar-brand" href="#">
                <img src="{% static 'network/img/logo-white.png' %}" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
                aria-controls="navbar" aria-expanded="true" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse" id="navbar">
                <ul class="navbar-nav ml-auto">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                    </li>
                    <li class="nav-item">
                        <a id="profile-details" class="nav-link" href="#"><strong>{{ user.username }}</strong></a>
                    </li>
                    <li class="nav-item">
                        <img class="profile-pic" src="{{ user.profile_pic.url }}" alt="">
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        <div class="body">
            {% block body %}
            {% endblock %}
        </div>

        <footer>
            <b>yapper</b> (<i>plural</i> <b>yappers</b>): (<i>slang</i>) One's mouth, especially of a gossipy person.
            (wiktionary.org)
        </footer>

        {% if user.is_authenticated %}
        <div class="write-container">
            <div class="write-form">
                <h3>Post some yappies</h3>
                <div class="row">
                    <div class="col-2 write-pic">
                        <img class="profile-pic" src="{{ user.profile_pic.url }}" alt="">
                    </div>
                    <div class="col-10">
                        <form id="write-form">
                            {% csrf_token %}
                            <textarea id="write-post" class="form-control" name="post-text" cols="30" rows="4"
                                placeholder="What's happening?" maxlength="300"></textarea>
                            <button id="write-submit" class="btn btn-secondary">Post</button>
                        </form>
                    </div>
                </div>
            </div>
            <div>
                <button id="write-toggle" class="btn btn-info">Write a post</button>
            </div>
        </div>
        {% endif %}
    </div>

    <script>
        var currentUser = "{{ user.username }}";
        var isAuthenticated = "{{ user.is_authenticated }}";
        var profileBg = "{% static 'network/img/profile-bg.png' %}";
    </script>
    <script src="{% static 'network/script.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
    </script>
</body>

</html>