* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f36c3cfa;
}

.logo {
    position: absolute;
    top: 8%;
    left: 50%;
    padding: 20px;
    transform: translateX(-50%);
    width: 200px;
    border-radius: 50px;
    background-color: #fff;
    box-shadow: 0 1px 2px 3px #333;
}

.logo img {
    min-width: 100%;
}

.log-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #333;
    color: #fff;
    width: 500px;
    padding: 25px;
    border-radius: 25px;
    box-shadow: 0 1px 2px 1px #fff, 0 2px 4px 2px rgb(201, 196, 196);
}