body {
    background-color: #f36c3cfa;
}

.body {
    display: flex;
    flex-wrap: wrap;
    min-height: 85vh;
}

.page-container {
    position: relative;
    min-height: 100vh;
}

.navbar-brand {
    margin-left: 40px;
    margin-right: 40px;
}

.category {
    background-color: #333;
    padding: 15px;
}

.category-btn {
    display: block;
    width: 100%;
    margin-bottom: 5px;
}

/* POST CONTAINER */

.post-container {
    padding: 15px;
    background-color: #f36c3cfa;
}



/* FOOTER */

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    line-height: 2.5rem;
}


/* WRITE CONTAINER */

.write-container {
    position: absolute;
    right: 60px;
    bottom: 30px;
    width: 350px;
    text-align: right;
}

.write-form {
    visibility: hidden;
    opacity: 0;
    position: relative;
    text-align: left;
    background-color: #772953;
    color: #fff;
    border-color: lightgrey;
    border-style: solid;
    border-width: 1px 1px 0 1px;
    border-radius: 5px 5px 0 5px;
    top: 1px;
    padding: 5px;
    transition: all 0.5s linear;
}

#write-post {
    background-color: #fff;
    color: #333;
}

#write-submit {
    display: block;
}

#write-toggle {
    border: 1px solid lightgrey;
    position: relative;
    z-index: 10;
    width: 280px;
    line-height: 1.3em;
}